{% extends "base.html" %}

{% block content %}
<form id="form" class="form" action="" method="post">
<div>
    <h2><center>Log In</center></ht>
</div>

<p>
    {{form.email(size=30, class_="input-box")}} <br>
</p>

<p>
    {{form.password(size=30, class_="input-box")}} <br>
</p>

<p>
    {{form.submit(class_="button")}}
</p>

Don't have an account?&nbsp<a href="{{url_for('signup')}}">Sign Up</a>

<div class="message">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
   
</div>

</form>

{% endblock %}