{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<form id="form" class="form" action="" method="post">
    <div>
        <h2> <center>Sign Up</h2>
    </div>
    
        {{form.first_name(size=30, class_="input-box")}} 
        {{form.last_name(size=30, class_="input-box")}}
        {{form.email(size=30, class_="input-box")}}
        {{form.password(size=30, class_="input-box")}}
        {{form.submit(class_="button")}}

    <div class="message">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
       
    </div>

    
    <div id = "password-hints">
        <h4>The password must meet the following conditions:
            <ul>
                <li>Between 4 to 25 characters</li>
                <li>At least one uppercase character</li>
                <li>At least one number</li>
                <li>Not have the user's first and/or last name</li>
            </ul>
        </h3>
    </div>
    
</form>



{% endblock %}